# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Code Andon
application.capf
build.txt
build.log
runtime.txt
runtime.log
